* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.step-box {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  position: relative;
  padding: 10px;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  margin-bottom: 15px;
  background-position: bottom;
  background-size: cover;
}

.category {
  position: absolute;
  background-color: #ee9a4b;
  color: #fff;
  left: 0;
  top: 0;
}

.p {
  margin: 10px;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  margin-bottom: 15px;
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  margin-bottom: 15px;
  background-position: bottom;
  background-size: cover;
}

.item {
  margin: 5px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .main {
    height: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .step-box {
    width: 90%;
    margin: 0 10px 20px 10px;
    padding: 10px 10px 0 10px;
  }

  .item {
    font-size: 22px;
  }

  .text {
    font-size: 25px;
  }

  .category {
    font-size: 30px;
  }
}
